/* Footer */
.footer {
  height: 130px; /* Hauteur réduite */
  border-top: 1px solid var(--foreground);
  width: 100%; /* Ajoute cette ligne si tu veux forcer la pleine largeur */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 30px;
}

.footer-nav-item {
  color: var(--foreground);
  transition: color 0.3s ease-in-out;
  font-size: 0.8rem; /* <-- ici : le slash est une erreur */
}

.footer-nav-item:hover {
  color: var(--active-menu-item);
}

.footer-copyrights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem; /* réduit la taille du texte */
  line-height: 1.2; /* ajuste l'espacement */
  margin-top: 0.5rem; /* un petit espace au-dessus */
}
