.footer {
  height: 130px;
  border-top: 1px solid var(--foreground);
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 24px;
  margin-bottom: 20px;
}

.footer-nav-item {
  color: var(--foreground);
  transition: color 0.3s ease-in-out;
  font-size: 0.8rem;
  padding: 0 5px;
}

.footer-nav-item:hover {
  color: var(--active-menu-item);
}

.footer-copyrights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2;
}
