/* Header */
.header-menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 0 1rem;
  background-color: var(--header-background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* optionnel pour rester au-dessus du contenu */
}

/* Footer */
.footer {
  width: 100%;
  padding: 0 1rem;
  background-color: var(--header-background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  top: 0;
  height: 140px;
  border-bottom: 1px solid var(--foreground);
}

.item-active {
  color: var(--active-menu-item);
  border-bottom: 2px solid var(--active-menu-item);
}
