.register-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  background-color: var(--login-background);
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 290px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid var(--login-form-button-border);
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-links {
  display: flex;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: underline;
}

.register-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.register-form-item input {
  background-color: var(--login-form-input-background);
  border: 1.5px solid var(--login-form-input-border);
  border-radius: 4px;
  padding: 8px;
  color: #6a6a6a;
}

.register-form-item input:focus {
  outline: none;
  border: 1.5px solid var(--brown);
}

.register-form-item label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.register-form button {
  background-color: var(--login-form-button-background);
  border: 1.5px solid var(--login-form-button-border);
  border-radius: 4px;
  padding: 8px;
  color: var(--login-form-button-text-color);
  cursor: pointer;
}

.register-form button:hover {
  background-color: var(--login-form-button-background-hover);
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0 4px 12px rgba(191, 167, 106, 0.3);
  transform: translateY(0.5px);
}

.register-form button:active {
  background-color: #9d8e6c;
}
